<section class="cid-qCRWTOX0Fd" id="footer2-j" data-rv-view="718">
    <div class="container">
        <hr>
        <br>
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text"><strong>Head Office Address</strong>
                    <br>The Business Centre
                    <br>44/3, 102 Street,
                    <br>14th Sector , KK Nagar,
                    <br>Chennai - 600 078
                    <br>Tamil Nadu, India
                    <br>
                    <br>
                    <br>
                    <br>
                    <strong>Branch&nbsp;Address </strong>
                    <br>No.9, 4th Street, Ground floor,
                    <br>Lake Area,
                    <br>Behind Mattuthvanai Bus Stand,
                    <br>Madurai- 625 107.
                    <br>
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong>Links</strong>
                    <br>
                    <a class="text-warning" href="enquiry.html">Enquiry</a>
                    <br>
                    <a class="text-warning" href="products.html">Products</a>
                </p>
                <ul style="margin-top: -20px">
                    <li><a class="text-warning" href="baxter.html">Baxter</a></li>
                    <li><a class="text-warning" href="fresenius.html">Fresenius</a></li>
                    <li><a class="text-warning" href="johnson_and_johnsons.html">Johnson & Johnson</a></li>
                    <li><a class="text-warning" href="schulke.html">Schulke</a></li>
                    <li><a class="text-warning" href="accesories.html">Accessories</a></li>
                </ul>
                <p style="margin-top: -10px"><strong>Contacts</strong>
                <ul class="ml-0 pl-0 list-unstyled">
                    <li><a href="mailto:vikram@tbchealthcare.com"><i class="fa fa-envelope"
                                aria-hidden="true"></i>&nbsp;vikram@tbchealthcare.com</a></li>

                    <ul class="list-unstyled my-3">
                        <p class="mb-1">Contact for Dialyser/Hemodialyzer</p>
                        <li><a href="tel:04524370200">04524370200</a> </li>
                        <li><a href="tel:04524370300">04524370300</a> </li>

                    </ul>
                    <ul class="list-unstyled my-3">
                        <p class="mb-1">Contact for Surgicals/Sutures</p>
                        <li><a href="tel:9884125700">9884125700</a> </li>

                    </ul>

                </ul>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map">
                    <iframe title="The Business Centre Location in Chennai"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.8607830253013!2d80.20412881420137!3d13.044532216804631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266dcdc5b647b%3A0x39cefc6021300b66!2sThe+Business+centre!5e0!3m2!1sen!2sin!4v1513919132506"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">© Copyright 2017 The Business Centre- All Rights
                        Reserved
                        <br>Made with <i class="fa fa-heart" style="color: #85C226" aria-hidden="true"></i> by <a
                            href="http://www.tensketch.com/" target="_blank" class="text-warning">TenSketch </a>and
                        <a href="http://www.ncdesigns.studio/" target="_blank" class="text-warning">NC
                            Designs.Studio</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <!--div class="soc-item">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(0, 132, 180);" media-simple="true"></span>
                    </div-->
                        <div class="soc-item">
                            <a href="https://www.facebook.com/businesscentrec/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"
                                    style="color: rgb(59, 89, 152);" media-simple="true"></span>
                            </a>
                        </div>
                        <!--div class="soc-item">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(204, 24, 30);" media-simple="true"></span>
                    </div-->
                        <!--div class="soc-item">
                        <a href="#">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(0, 119, 181);" media-simple="true"></span>
                        </a>
                    </div-->
                        <div class="soc-item">
                            <a href="http://www.alibaba.com/member/in106885245.html" target="_blank">
                                <img src="assets/images/alibaba.png" width="80px;">
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.indiamart.com/the-business-centre/" target="_blank">
                                <img src="assets/images/indiamart.png" width="80px">
                            </a>
                        </div>
                        <!--div class="soc-item">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(211, 72, 54);" media-simple="true"></span>
                    </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="assets/web/assets/jquery/jquery.min.js"></script>
<script src="assets/popper/popper.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/smoothscroll/smooth-scroll.js"></script>
<script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
<script src="assets/parallax/jarallax.min.js"></script>
<script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
<script src="assets/dropdown/js/script.min.js"></script>
<script src="assets/theme/js/script.js"></script>
<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>