<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/tbc-logo-final-128x65-1.png" type="image/x-icon">
    <title>The Business Centre_Distribution of Surgical Items and Nephrology Products.</title>
    <meta name="description"
        content="Distributor of surgical items and nephrology products from top brands like Johnson & Johnson, Fresenius, Baxter, and Schulke. We offer a wide range of medical equipment, including dialysis machines, sutures, and sterilization products.">
    <meta name="keywords"
        content="surgical items, nephrology products, medical equipment, dialysis machines, sutures, Johnson & Johnson, Fresenius, Baxter, Schulke">

    <meta property="og:url" content="https://www.tbchealthcare.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.tbchealthcare.com/assets/images/og-image.png">
    <meta property="og:title" content="The Business Centre_Distribution of Surgical Items and Nephrology Products.">
    <meta property="og:description"
        content="Distributor of Surgical Items & Nephrology Products from Johnson & Johnson, Fresenius, Baxter and Schulke.">
    <meta property="og:keywords"
        content="The business centre, healthcare needs, medical products, sugical equipment, nephrology products, johnson & johnson, fresenius, baxter, schulke, accessories, dialysis, medical equipment,  medical equipments distribution centre, renal, renal equipment, Nephrology Products, Ethicon Sutures, ethicon, Ethicon Endo Surgery, Eprex Division, Hospital Supplies, Dialysis Machine, Sutures, EPREX, HANDRUB, FRESENIUS 5008, FRESENIUS 4008, Skin Staplers, Mesh, prolene Mesh, Hemo-dialysis products, Hemo-dialysis, kidney care, Renal Dialysis, Dialysis Machines requirements, Dialysis Machines requirements, AVF needle, transducer, catheter, catheter straight, catheter curved, PVP solution, microshield M2, microshield, microshield M4, Handwash solution, High-Flux Dialysers and Haemofilters, High-Flux Dialysers, Haemofilters, Cidex solution, CAPD, Asthetic Sterilization Products, Medical, AV-FISTULA Needle  Disposable">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">